.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    /* background-color: #f8f9fa; */
    border-bottom: 1px solid #e9ecef;
    /* height: 75px; */
    width: 100%;

}

.menubar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 48px;
    padding: 12px;
}

.menubar-container .app-logo {
    width: 48px;
    height: 48px;
    margin-left: 12px;
}

.user-area-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    height: 48px;
    padding-right: 12px;
}

.head-user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.head-user-info .user-avatar {
    width: 48px;
}

.head-user-info .user-name {

    font-size: 16px;
    font-weight: 500;
}

.head-icon {
    font-size: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.head-icon:hover {
    background-color: #e1e7ec;
}

.head-notification-icon {
    position: relative;
}

.notification-number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 15px;
    height: 15px;
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;

    border-radius: 50%;
    top: 4px;
    right: 6px;
}

.menubar-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    transform: translateX(-10px);
}

.menubar-button:hover {
    background-color: #e1e7ec;

}