.join-class-list-container {
    width: 100%;
    background-color: rgb(249, 249, 250);
    margin-top: 6px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(195, 209, 220);
    height: auto;
    min-height: 0;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(195, 209, 220) rgb(249, 249, 250);
    scroll-behavior: smooth;
}